.navbar {
  min-height: 100px;
  background-color: #101010;
}
.navbar .navbar-brand {
  color: #cfd9dc;
  padding-left: 10vw;
}
.navbar .navbar-nav {
  padding-right: 10vw;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #cfd9dc;
  padding: 0 25px;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #101010;
}
.navbar .navbar-link {
  color: #cfd9dc;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
