<nav class="navbar navbar-expand-sm navbar-default navbar-dark">
  <a class="navbar-brand" href="index.html">
    <img src="assets/img/logo.png" alt="logo" width="40" height="40"/>
    <span class="nav-title">Colordrone</span>
  </a>

  <div class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about">
          <img src="assets/img/about_icon.png" alt="about-icon" width="28" height="28"/>
          <span class="nav-sub">About</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/github">
          <img src="assets/img/github_icon.png" alt="github-icon" width="28" height="28"/>
          <span class="nav-sub">Github</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
