<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Content -->
        <div class="foot-sub">About Us</div>
        <p> blah blah blah blah blah blah blah blah blah blah blah
            blah blah blah blah blah blah blah blah blah blah blah
            blah blah blah blah blah blah</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <a class="footer-link" href="index.html">Colordrone</a>
        <p class="mb-md-0 mt-1">Contact us at blah@blah.com</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Joey Jiemjitpolchai & Siyuan Zou</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
