.page-footer {
  background-color: #191919;
}
.container-fluid {
  color: #cfd9dc;
}
.footer-copyright {
  color: #cfd9dc;
}
.foot-sub {
  color: #cfd9dc;
  font-size: 18px;
}
.footer-link {
  color: #cfd9dc;
  font-size: 18px;
}
.row {
  padding-left: 12vw;
  padding-right: 12vw;
}
