.container {
  color: #cfd9dc;
  background-color: #191919;
}
#wrapper {
  width: 100%;
  height: 35vw;
  overflow: visible;
  padding-top: 5em;
  padding-bottom: 10em;
}
h5 {
  margin-top: 9%;
}
.color_box {
  float: left;
  width: 20%;
}
.color {
  height: 11vw;
  width: 100%;
}
.btn {
  width:auto;
  margin-top: 3%;
}
